body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;    
  align-items: center;
  height: 100vh;
  background-color: #e2ecf0;
}

.heading {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.img-container-1 {
background-image: url(../images/car1.png);
background-size: cover;
background-position: center;
width: 35%;
height: 80%;
}
.img-container-2 {
background-image: url(../images/car1.png);
transform: scaleX(-1);transform: scaleX(-1);
background-size: cover;
background-position: center;
width: 35%;
height: 80%;
}

.form-container {
  width: 350px;
  height: 50vh;
  /* background-color: #fff; */
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  /* backdrop-filter: blur(50px); */
}

.title {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  font-family: "SF Pro";
  padding: 0.875rem;
  font-size: 1rem;
  border: 1.5px solid #000;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #000;
  outline: none;
  transition: ease 0.25s;
  margin-top: 0;
  background-color: #e8e8e8;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
}

.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: #747474;
  text-decoration-color: #747474;
}

.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: 700;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  -webkit-box-shadow: 2.5px 3px 0 #000;
  box-shadow: 2.5px 3px 0 #000;
  transition: all 250ms;
  overflow: hidden;
  width: 50%;
  align-self: center;
  margin-top: 10px;
  border: 1.5px solid #000;
  cursor: pointer;
}

.form-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 2.5px 3px 0 #000;
  box-shadow: 2.5px 3px 0 #000;
  transition: all 250ms;
}

.form-btn:hover {
  color: #e8e8e8;
}

.form-btn:hover::before {
  width: 100%;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #747474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 0.8rem;
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 15px;
}

